.body{background-color: rgb(166, 219, 169);}
.navbar-brand{font-size: 60px;
font-weight: bolder;
font-family: Arial, Helvetica, sans-serif;
color: rgb(115, 150, 117);
pointer-events: none;
cursor: default;
border-radius: 50%;}
.card-title{
    font-size: 40px;
    color:rgb(95, 126, 96) ;
    text-align: center;
}
.card-text{
    text-align: center;
}
.presentacion{
    display: flex;
    justify-content: center;
    border-radius: 1000px;}
.pie{
    background-color: rgb(81, 124, 87);
    text-align: center;
    color: beige;
}
.card-group{
    background-color: blue;
    margin-bottom: 10px;
}
.voluntariado{
    display: flex;
    justify-content: center;
}